*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Cabin', sans-serif;
}

/*Estilos da pagina de edição*/

body{
	transition:background-color 0.5s ease !important;
}

header{
	transition:background-color 0.5s ease !important;
}

.circle-color-input{
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}



/*Fim estilos da pagina de edição*/

/*Animação icon coração*/
.clickable-icon {
    transition:color 0.3s ease-in-out;
}

.clickable-icon.clicked {
    color:var(--red); /* Cor que deseja quando clicado */
}
/*Fim animação icon coração*/

/*Placeholders*/

::placeholder{
	font-size:11px;
	color:var(--gray-text) !important;
}

/*Fim placeholders*/

/*VARs*/

:root{
	--white:#ffffff;
	--gray-text:#8f8f8f;
	--red:#e64141;
	--inputs-color:#fafafa;
	--btn-colors:#e8e8e8;
	--black:#333333;
	--gray-light:#758198;
	--mn-blue:#344767;
}

/*Fim VARs*/

/*Configs de margins, paddings e font-sizes*/

/*Custom margins e paddings*/

.m-auto{
	margin:0 auto;
}

.custom-mb{
    margin-bottom:15rem;
}

.custom-ms-12{
    margin-left:12rem;
}

.custom-ms-20{
    margin-left:19.4rem;
}

.custom-ms-6{
    margin-left:2rem;
}

.custom-ms-3{
	margin-left:3rem;
}

.custom-ms-2{
	margin-left:2rem;
}

.custom-ms-1{
	margin-left:0.8rem;
}

.ps-custom{
    padding-left:30px;
}

.user-custom-ms{
    margin-left:15rem;
}

.home-custom-mt{
    margin-top:22rem;
}

.custom-mt-details{
    margin-top:5.2rem;
}

.pe-custom-slide{
    padding-right:7rem;
}

.ps-custom-slide{
    padding-left:7rem;
}

/*Fim custom margins e paddings*/

/*Colors & bg-colors*/

.red{
	color:var(--red) !important;
}

.white{
	color:var(--white) !important;
}

.gray{
	color:var(--gray-text) !important;
}

.gray2{
	color:var(--gray-light) !important;
}

.mn-blue{
	color:var(--mn-blue) !important;
}

.black{
	color:var(--black) !important;
}

.bg-gray{
	background-color:var(--inputs-color) !important;
}

.bg-card{
	background-color:rgba(240, 242, 244, 0.4) !important;
}

.bg-red{
	background-color:var(--red) !important;
}

.bg-blue{
	background-color:#7168E4 !important;
}

.bg-green-light{
	background-color:#2DCEB3 !important;
}

.bg-orange{
	background-color:#FB9640 !important;
}

/*Fim colors & bg-colors*/

/*Custom font-sizes*/

.fs-custom1{
    font-size:15px !important;
}

.fs-custom2{
    font-size:17px !important;
}

.fs-custom3{
    font-size:13px !important;
}

.fs-custom4{
    font-size:10px !important;
}

.fs-custom5{
    font-size:20px !important;
}

.fs-custom6{
    font-size:24px !important;
}

.fs-custom7{
    font-size:8px !important;
}

.fs-custom8{
    font-size:10.5px !important;
}

.fs-custom10{
    font-size:9px !important;
}

/*Fim font-sizes*/

/*Fim configs de margins, paddings e font-sizes*/

/* Info-imovéis-adm */
.center{
	height:370px;
	overflow-y:scroll;
}

.bg-img{
	background-size:cover;
    background-position:center center;
    width:400px;
    height:195px;
}


.info-imoveis{
    padding:0.7rem;
}

.info-imoveis span{
    font-size:10px;
}

.info-imoveis span > i{
    font-size:10px;
    margin-right:3px;
}

.info-imoveis h3 > a i{
    margin-left:3px;
    transition:0.4s;
/*    cursor:pointer;*/
}

.info-imoveis h3 > a i:hover{
    color:var(--red);
}

.slide-adm{
    width:350px;
}

/*Fim Info-imovéis-adm */

/*Circulo foto e circulo*/

.profile-circle, .profile-circle-res{
	width:25px;
	height:25px;
	border-radius:50%;
	overflow:hidden;
	background-color:var(--gray-light);
}

.circle{
	width:50px;
	height:50px;
	border-radius:50%;
}

.circle2{
	background-image:url('../imagens/15259789811.jpg');
	background-size:cover;
    background-position:center center;
	width:70px;
	height:55px;
}

/*Fim circulo foto e circulo*/

/*Sidebar*/
#sidebar .nav-link{
	color:var(--mn-blue);
	opacity:0.8;
}

/*Fim sidebar*/

/*Barra de pesquisa*/

.search-input-adm {
	background-color:var(--inputs-color);
	border:none;
	padding:8px;
    font-size:16px;
    width:500px !important;
}
        
.search-button-adm {
	background-color:var(--inputs-color);
    color:var(--gray-text);
    border:none;
    padding:8px 16px;
    cursor:pointer;
}

.search-container-adm input::placeholder {
    color:var(--gray-text);
    font-size:13px; 
}

/*Fim barra de pesquisa*/

/*Nav UP*/

.nav-up div > i{
	font-size:25px;
	padding:4px;
}

/*Fim Nav UP*/

/*Mapa*/

.map-imoveis{
    background:url('../imagens/map.jpg');
    background-size:cover;
    background-position:center center;
    width:510px !important;
    height:520px;
    display:block;
    border:1px solid rgba(237, 237, 237, 0.2) !important;; 
}

.map-imoveis-adm{
	background:url('../imagens/map.jpg');
    background-size:cover;
    background-position:center center;
}

/*Fim Mapa*/

/*BTNs & Selects*/

#customButton{
	font-size:12px;
	padding:6px 15px;
	text-decoration:none;
	display:inline-block;
	cursor:pointer;	
}

.myButton, .myButton2 {
	border:1px solid var(--red);
	display:inline-block;
	cursor:pointer;
	color:var(--red);
	font-size:12px;
	padding:6px 15px;
	text-decoration:none;
	transition:0.5s;
}

.myButton:hover, .myButton2:hover {
	background-color:var(--red);
	color:var(--white);
}

.myButton2{
	border:0;
	background-color:var(--btn-colors);
	border-radius:7px;
	color:var(--black);
	font-size:18px;
}

.mySelect{
	cursor:pointer;
	font-size:12px;
	padding:6px 15px;
	border:1px solid var(--gray-text);
	background-color:white;
	color:var(--gray-text);
}

/*Fim BTNs & Selects*/

/*Img imoveis dashboard*/

tbody tr td img{
	width:100px;
	height:70px;		
}

/*Fim img imoveis dashboard*/

/*Medias @*/

@media screen and (max-width: 1300px){

	.center{
		width:500px;
	}

	.profile-circle-res{
		width:38px;
		height:38px;
	}

	.fs-sidebarbtn{
		font-size:30px !important;
	}

	.custom-display{
		display:none !important;
	}

	.map-imoveis{
		width:100% !important;
	}

	.w-custom{
		width:100%;
	}

	.position-custom{
		position:initial;
		margin-top:3.5rem;
	}

	.map-imoveis{
		margin-top:1rem;
	}

	.search-input-adm {
    	width:200px !important;
	}

	.text-input{
		display:none;
	}

	.custom-ms-12{
    	margin-left:initial;
	}

	.custom-ms-3{
		margin-left:initial;
	}

	.nav1 ul > li{
		margin-bottom:1rem;
	}

	.nav1 ul > li div input{
		margin-left:5px;
	}

	tbody tr td .fs-custom3{
		font-size:9px !important;
	}

	tbody tr td img{
		width:280px;
		height:170px;		
	}

	tbody tr td div > div{
		margin-bottom:1rem !important;	
	}
}

/*Fim medias @*/
